lib-cov
tmp/
output/*.txt
*.rrf
*.RRF
*.pyc
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.pickle
*.pkl
.DS_Store
pids
npm-debug.log*
node_modules
package-lock.json
local_*
local*
*.sublime-project
*.sublime-workspace
.idea/
