C0027051	ENG	MTH|MSH|SNOMEDCT_US|MDR|MEDCIN	DISO|T047|DISO|T047|DISO|T047|DISO|T047|DISO|T047	Myocardinfarct	Myocardial Infarction|Myocardial Infarct|Cardiovascular Stroke|Heart Attack|Cardiac Infarction|Infarction of Heart|Attack Coronary|MI|STEMI
C0011849	DUT	MSHDUT|ICD10DUT|MDRDUT	DISO|T047|DISO|T047|DISO|T047	Diabetes	Diabetes Mellitus|Dm2|Diabets|Diabeet|Suikerziekte|Diabetes|Dmt1|Dm1|Dmt2|Mellitus Diabetes|Dm|DM|NIDDM|IDDM|NIDDM|DM|IDDM
