
<div class="full">
  <h1>Concepts</h1>

  <p>An overview of the most recent added concepts and terms. If concepts and terms are added more often, you can include them to UMLS.</p>
</div>

<p class="danger" ng-show="error">
    {{ error }}
</p>

<form class="block" ng-show="active_term" ng-submit="submit(active_term)">
    <small>If CUI is "custom", it will be added as a new concept</small>

    <div class="full">
        <div class="align-left third">
            <label>CUI</label>
            <input type="text" class="form-control" placeholder="CUI" ng-model="active_term.synonym.cui">
        </div>

        <div class="align-mid third">
            <label>Language</label>

            <select class="align-left" ng-model="active_term.language">
              <option value="DUT">Dutch</option>
              <option value="ENG">English</option>
            </select>
        </div>

        <div class="align-left third">
            <label>Category</label>

            <select class="align-left" ng-model="active_term.types">
              <option value="diagnosis">Diagnosis</option>
              <option value="keyword">Keyword</option>
              <option value="medication">Medication</option>
              <option value="labresult">Labresult</option>
            </select>
        </div>
    </div>

    <div class="block full">
        <div class="align-left third">
            <label>Label</label>
            <input type="text" class="form-control" placeholder="Label" ng-model="active_term.synonym.label">
        </div>

        <div class="align-mid third">
            <label>Term/Synonym</label>
            <input type="text" class="form-control" placeholder="Term/Synonym" ng-model="active_term.synonym.term">
        </div>
    </div>



    <div class="block full">
      <button class="navy" id="submit">
        Save term
      </button>
    </div>
</form>


<table class="table">
    <tr>
        <th>User</th>
        <th>Term</th>
        <th>CUI (Added)</th>
        <th>Date</th>
        <th></th>
    </tr>

    <tr ng-repeat="item in concepts | orderBy:'created':true  track by $index">
        <td>
            <span class="row">{{ ::item.user.name }}</span>
            <small>{{ ::item.user.env }}</small>
        </td>

        <td>
            <span class="row">{{ ::item.synonym.term }}</span>
            <small>{{ ::item.synonym.label }}</small>
        </td>

        <td>
            {{ ::item.synonym.cui }} <small>{{ item._added }}</small>
        </td>

        <td><code>{{ ::item.created | date:'dd MMMM yyyy' }}<code></td>

        <td>
            <button class="green align-right" ng-click="setActive(item)">
                Add
            </button>
        </td>
    </tr>
</table>


<h3>Calendar view</h3>

<div class="calendar" >
    <div ng-repeat="view in calendar_view | orderBy:'date':true track by $index" ng-if="view.amount > 0">
        <div class="bar row">
            <div class="third align-left">
                {{ ::view.date | date:'MMMM yyyy' }}
            </div>

            <div class="third align-left">
                {{ ::view.amount }}
            </div>

            <button class="blue align-right" ng-click="viewConcepts(view)" ng-hide="view.concepts.length">
                View concepts
            </button>
        </div>

        <table class="table" ng-if="view.concepts && view.concepts.length > 0">
            <tr>
                <th>User</th>
                <th>Term</th>
                <th>CUI (Added)</th>
                <th>Date</th>
                <th></th>
            </tr>

            <tr ng-repeat="item in view.concepts | orderBy:'created':true  track by $index">
                <td>
                    <span class="row">{{ ::item.user.name }}</span>
                    <small>{{ ::item.user.env }}</small>
                </td>

                <td>
                    <span class="row">{{ ::item.synonym.term }}</span>
                    <small>{{ ::item.synonym.label }}</small>
                </td>

                <td>
                    {{ ::item.synonym.cui }} <small>{{ item._added }}</small>
                </td>

                <td><code>{{ ::item.created | date:'dd MMMM yyyy' }}<code></td>

                <td>
                    <button class="green align-right" ng-click="setActive(item)">
                        Add
                    </button>
                </td>
            </tr>
        </table>

    </div>
</div>
