
<h1>Dangerzone</h1>

<p ng-class="{ danger : error }">Fill in the Neo4j username and password:</p>


<div class="block full">
    <div class="align-left">
        <label>Neo4j username</label>
        <input type="text" class="form-control" placeholder="Enter username" ng-model="data.neo4j.username">
    </div>

    <div class="align-mid">
        <label>Password</label>
        <input type="password" class="form-control" placeholder="Password" ng-model="data.neo4j.password">
    </div>
</div>


<div class="block green" ng-show="msg">
    <p>{{ msg }}</p>
</div>


<div class="full options">
    <div class="block">
        <button class="navy align-right" ng-click="updateIndexes()">Update</button>
        <h3 class="align-left">Update indexes</h3>

        <div class="row">
            <p>Re-creates indexes on your concepts</p>
        </div>
    </div>


<!--     <div class="block">
        <button class="danger align-right" ng-click="destroy()">Delete nodes</button>
        <h3 class="align-left">Delete everything</h3>

        <div class="row">
            <p>This will remove all neo4j related group entries. You probably don't need this.</p>
        </div>
    </div>
 -->

    <div class="block">
        <button class="danger align-right" ng-click="removeGroup()" ng-show="data.group_name">
            Remove group
        </button>
        <h3 class="align-left">Remove group</h3>

        <div class="row">
            <p>This will remove a group and its concepts</p>

            <p ng-show="allGroups.length === 0" class="danger">
                There are no groups yet.
            </p>

            <select class="align-left" ng-model="data.group_name">
              <option ng-repeat="group in allGroups">{{ group.name }}</option>
            </select>

            <button type="button" class="align-mid" ng-click="getGroups()">Find groups</button>
        </div>
    </div>
</div>

<link href="css/dangerzone.css" rel="stylesheet">