<div class="inner-container">
    <h1 class="page-title uppercase">
      Add term
    </h1>

    <p>To add a synonym, use the CUI code. For completely new terms think of your own.</p>

    <div class="info success" ng-show="success">
        It has been added! Want to add another one?
    </div>

    <div class="info warning" ng-show="error">
        {{ error ***REMOVED******REMOVED***
    </div>


    <div class="block half left">
      <h3>Form</h3>

      <form name="form" ng-submit="submit()" novalidate>
        <div class="form-field">
          <label class="floating-label-pattern label-default" ng-show="item.cui">CUI</label>
          <input
            type="text"
            ng-model="item.cui"
            placeholder="CUI"
            blur-class
            required>

          <div class="errors">
            <span err="empty">A CUI is required</span>
          </div>
        </div>

        <div class="form-field">
          <label class="floating-label-pattern label-default" ng-show="item.str">Term</label>
          <input
            type="text"
            ng-model="item.str"
            placeholder="Term"
            blur-class
            required>

          <div class="errors">
            <span err="empty">The term is required</span>
          </div>
        </div>

        <div class="form-field">
          <label class="floating-label-pattern label-default" ng-show="item.types">Types</label>
          <input
            type="text"
            ng-model="item.types"
            placeholder="diagnosis, medication etc."
            blur-class>
        </div>

        <div class="full form-buttons-left">
          <button class="md-button md-raised" id="submit">
            Save term
          </button>
        </div>
      </form>
    </div>
</div>