
.table, .calendar .bar {
  border-radius:3px;
  border: 1px solid #bbb;
  border-bottom-width: 2px;
***REMOVED***

.table {
  margin:20px 0;

  width: 100%;
  text-align: left;
  border-collapse: collapse;
***REMOVED***

.table td {
  border-bottom: 1px solid #eaeaea;
***REMOVED***

.table td, .table th {
  padding:6px 12px;
***REMOVED***

.table td small {
  color:#888;
***REMOVED***


.table th {
  font-weight: bold;
  color:#0017CA;

  padding: 15px 12px;
  border-bottom: 1px dashed #ccc;
***REMOVED***

.table button {
  opacity: 0.5;
***REMOVED***

.table button:hover {
  opacity: 1.0;
***REMOVED***


form.block {
  float:left;
  width:100%;

  border:1px solid #ccc;
  padding:12px;
***REMOVED***

.calendar {
  float:left;
  width:100%;
  padding-bottom:50px;
***REMOVED***

.calendar .bar {
  padding:10px;
  line-height: 2.2em;
***REMOVED***

.calendar .table {
  margin:2px 0 20px 0;
  float:left;
***REMOVED***