.dangerzone {
  margin-top: 30px;
}

.dangerzone h3 {
  margin:0 0 5px 0;
}

.dangerzone .title {
  margin-bottom: 14px;
}

.dangerzone input {
  width:100%;
}

.dangerzone select {
  min-width: 100px;
  width:70%;
}


.options .block {
    border:1px solid #ccc;
    padding:12px;

    float:left;
    width:100%;
}

.options h3 {
    margin:4px;
}

.options button.danger {
    opacity: .5;
}

.options .danger:hover {
    opacity: 1.0;
}