
html, body, ul, li {
  margin:0;
  padding:0;
***REMOVED***

ul {
  list-style: none;
***REMOVED***

html, body {
  height: 100%;
***REMOVED***

body {
  float:left;
  width:100%;

  font-family: Helvetica, Arial, sans-serif;

  color: #333;
  overflow-y: scroll;
***REMOVED***

h1 {
  font-weight: normal;
***REMOVED***


* {
  box-sizing: border-box;
***REMOVED***


.sidebar {
  width: 140px;
  height:100vh;

  padding-top:80px;
  background:#00072D;
  color:#AFB2BD;

  position:fixed;
***REMOVED***

.container {
  margin-left: 180px;

  width:80%;
  max-width: 800px;

  padding:76px 0;
***REMOVED***


.sidebar li {
  padding:14px 8px 14px 20px;
  font-weight: bold;
  font-size: 90%;

  cursor:pointer;
***REMOVED***

.sidebar li:hover, .sidebar .active {
  background: #000B44;
  color:#F7F5E9;
***REMOVED***

#logo {
  background: rgba(247, 245, 233, 0.05);
  border-radius: 50%;

  width:70px;
  height:70px;

  text-align: center;

  padding:0;
  margin:0 auto 80px auto;
***REMOVED***

#logo img {
  margin-top:12px;
***REMOVED***

.row {
  display:block;
  float:left;
  width:100%;
***REMOVED***

.block {
  float:left;
  margin:14px 0;
***REMOVED***



.checkbox {
  font-size : 20px;
  height    : 18px;
  width     : 18px;

  margin-top: 8px !important;
  line-height: 30px;

  cursor:pointer;
***REMOVED***

th .danger {
  opacity: 0.5;
***REMOVED***

a, button, select {
  cursor: pointer;
***REMOVED***

button {
  background:#eee;
  opacity: .9;
  border:1px solid #ccc;

***REMOVED***

button:hover {
  opacity: 1;
***REMOVED***

label {
  font-weight: bold;
  font-size: 80%;

  margin:10px 0 5px 0;
  display:block;
***REMOVED***

button, input, textarea, select {
  border-radius: 2px;

  border:1px solid #ccc;
  padding: 7px 10px;

  font-size:15px;
  line-height: 20px;

  margin:0;
***REMOVED***

input, textarea, select {
   min-width: 220px;
***REMOVED***

textarea {
  min-height: 80px;
***REMOVED***

.inline input {
  margin-right:4px;
***REMOVED***

#submit {
  font-size: 120%;
  padding: 14px;
***REMOVED***



[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
***REMOVED***



.full { width: 100%; ***REMOVED***
.half { width:50%; ***REMOVED***
.third { width:30%; ***REMOVED***


.align-left {
  float:left;
  margin-left: 0;
***REMOVED***

.align-right {
  float:right;
  margin-right: 0;
***REMOVED***

.align-mid {
  float:left;
  margin:0 4%;
***REMOVED***

.centered {
  text-align: center;
***REMOVED***



.navy, .blue {
  color: #fff;
  border: 1px solid #165582;
***REMOVED***

.navy {
  background: #001f3f;
***REMOVED***

.blue {
  background: #0074D9;
***REMOVED***


.danger {
  color: #FF4136;
***REMOVED***

.green {
  color:#2ECC40;
***REMOVED***

button.danger {
  background: #FF4136;
  color:#fff;
  border: 1px solid #B53232;
***REMOVED***

button.green {
  color:#fff;
  background: #2ECC40;
  border: 1px solid #18A737;
***REMOVED***

