body {
  float:left;
  width:100%;

  margin:0;
  padding-bottom: 40px;

  font-family: Helvetica, Arial, sans-serif;

  color: #444;
  overflow-y: scroll;
}

* {
  box-sizing: border-box;
}

.container {
  margin:0 auto;
  width:92%;
}

.header, .row {
  display:block;
  float:left;
  width:100%;
}

form .row {
  margin:10px 0;
}

.header {
  padding: 10px 0;
  margin-bottom: 20px;

  border-bottom: 1px solid #e5e5e5;
}

.header h3, .header a {
  margin-top: 0;
  margin-bottom:0;
  line-height: 30px;
}

.header h3 {
  float:left;
  color:#222;
}
.header a {
  float:right;
}

.block {
  float:left;
  margin:14px 0;
}

.spaced {
  margin:14px 0 24px 0 !important;
}

.spaced h4 {
  line-height: 36px;
  margin: 0;
}

.checkbox {
  font-size : 20px;
  height    : 18px;
  width     : 18px;

  margin-top: 8px !important;
  line-height: 30px;

  cursor:pointer;
}

th .danger {
  opacity: 0.5;
}


.loading-indicator {
  display: table;

  position: absolute;
  top:0;
  left:0;

  z-index:3;

  width:100%;
  height:100%;

  background: rgba(192, 255, 220, 0.5);
}

.loading-indicator h3 {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

a, button, select {
  cursor: pointer;
}

button {
  background:#eee;
  opacity: .9;
  border:1px solid #ccc;

}

button:hover {
  opacity: 1;
}

label {
  font-weight: bold;
  font-size: 80%;

  margin-bottom:5px;
  display:block;
}

button, input, textarea, select {
  border-radius: 2px;

  border:1px solid #ccc;
  padding: 7px 10px;

  font-size:15px;
  line-height: 20px;

  margin:0;
}

input, textarea, select {
    min-width: 320px;
}

textarea {
  min-height: 80px;
}

.inline input {
  margin-right:4px;
}

#submit {
  font-size: 120%;
  padding: 14px;
}



table input {
  min-width: 24px;
  float:left;
  width:80%;
}

table td, table th {
  min-width: 32px;
}

table .small {
  width:30px;
}

table .last td {
  padding-top:10px;
}



.full { width: 100%; }
.half { width:50%; }
.third { width:30%; }

.align-left {
  float:left;
  margin-left: 0;
}

.align-right {
  float:right;
  margin-right: 0;
}

.align-mid {
  float:left;
  margin:0 4%;
}

.centered {
  text-align: center;
}



.navy, .blue {
  color: #fff;
  border: 1px solid #165582;
}

.navy {
  background: #001f3f;
}

.blue {
  background: #0074D9;
}

.danger {
  background: #FF4136;
  color:#fff;
  border: 1px solid #B53232;
}

.green {
  color:#fff;
  background: #2ECC40;
  border: 1px solid #18A737;
}


.dangerzone {
  margin-top: 30px;
}

.dangerzone h3 {
  margin:0 0 5px 0;
}

.dangerzone .title {
  margin-bottom: 14px;
}

.dangerzone input {
  width:100%;
}
.dangerzone select {
  min-width: 100px;
  width:70%;
}


.parse {
  padding:12px 22px;
  background: #eee;
  margin:20px 0;
}