
html, body, ul, li {
  margin:0;
  padding:0;
}

ul {
  list-style: none;
}

html, body {
  height: 100%;
}

body {
  float:left;
  width:100%;

  font-family: Helvetica, Arial, sans-serif;

  color: #333;
  overflow-y: scroll;
}

h1 {
  font-weight: normal;
}


* {
  box-sizing: border-box;
}


.sidebar {
  width: 140px;
  height:100vh;

  padding-top:80px;
  background:#00072D;
  color:#AFB2BD;

  position:fixed;
}

.container {
  margin-left: 180px;

  width:80%;
  max-width: 800px;

  padding:76px 0;
}


.sidebar li {
  padding:14px 8px 14px 20px;
  font-weight: bold;
  font-size: 90%;

  cursor:pointer;
}

.sidebar li:hover, .sidebar .active {
  background: #000B44;
  color:#F7F5E9;
}

#logo {
  background: rgba(247, 245, 233, 0.05);
  border-radius: 50%;

  width:70px;
  height:70px;

  text-align: center;

  padding:0;
  margin:0 auto 80px auto;
}

#logo img {
  margin-top:12px;
}

.row {
  display:block;
  float:left;
  width:100%;
}

.block {
  float:left;
  margin:14px 0;
}



.checkbox {
  font-size : 20px;
  height    : 18px;
  width     : 18px;

  margin-top: 8px !important;
  line-height: 30px;

  cursor:pointer;
}

th .danger {
  opacity: 0.5;
}

a, button, select {
  cursor: pointer;
}

button {
  background:#eee;
  opacity: .9;
  border:1px solid #ccc;

}

button:hover {
  opacity: 1;
}

label {
  font-weight: bold;
  font-size: 80%;

  margin:10px 0 5px 0;
  display:block;
}

button, input, textarea, select {
  border-radius: 2px;

  border:1px solid #ccc;
  padding: 7px 10px;

  font-size:15px;
  line-height: 20px;

  margin:0;
}

input, textarea, select {
   min-width: 220px;
}

textarea {
  min-height: 80px;
}

.inline input {
  margin-right:4px;
}

#submit {
  font-size: 120%;
  padding: 14px;
}



[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}



.full { width: 100%; }
.half { width:50%; }
.third { width:30%; }


.align-left {
  float:left;
  margin-left: 0;
}

.align-right {
  float:right;
  margin-right: 0;
}

.align-mid {
  float:left;
  margin:0 4%;
}

.centered {
  text-align: center;
}



.navy, .blue {
  color: #fff;
  border: 1px solid #165582;
}

.navy {
  background: #001f3f;
}

.blue {
  background: #0074D9;
}


.danger {
  color: #FF4136;
}

.green {
  color:#2ECC40;
}

button.danger {
  background: #FF4136;
  color:#fff;
  border: 1px solid #B53232;
}

button.green {
  color:#fff;
  background: #2ECC40;
  border: 1px solid #18A737;
}

