form .row {
  margin:10px 0;
***REMOVED***


table input {
  min-width: 24px;
  float:left;
  width:80%;
***REMOVED***

table td, table th {
  min-width: 32px;
***REMOVED***

table .small {
  width:30px;
***REMOVED***

table .last td {
  padding-top:10px;
***REMOVED***


.spaced {
  margin:14px 0 24px 0 !important;
***REMOVED***

.spaced h4 {
  line-height: 36px;
  margin: 0;
***REMOVED***

.parse {
  margin-top:32px;
  padding-top:4px;

  border-top:1px solid #eee;
***REMOVED***


.groups .block {
    border:1px solid #ccc;
    padding:12px;

    float:left;
    width:100%;
***REMOVED***